@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


@{
    ViewData["Title"] = "IndexRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a id="setEmail" asp-action="AddEmailToRole" asp-route-id="@item.Id">Assigne To User</a>
                </td>
            </tr>
        }
    </tbody>
</table>
