@model AlphaWebApp.Models.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
                <br />
                <label asp-for="icon" class="control-label"></label>
                <input asp-for="icon" class="form-control" />
                <span asp-validation-for="icon" class="text-danger"></span>
            </div>

            
            <br />
            @*<div class="form-group">
            <label asp-for="Category" class="control-label">Category</label>
            <select asp-for="Category" class="form-control">
            <option value="Adventure">Adventure</option>
            <option value="Action">Action</option>
            <option value="Thriller">Thriller</option>
            <option value="Horrror">Horrror</option>
            <option value="Comedy">Comedy</option>
            <option value="Musical">Musical</option>
            <option value="Romance">Romance</option>
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Sci-fi">Sci-fi</option>
            </select>
            </div>*@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
