
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin page</h1>



<h3><a asp-area="" asp-controller="Admin" asp-action="IndexCategory">Category Adminstration</a></h3>

<h3><a asp-area="" asp-controller="Admin" asp-action="IndexSubscriptionType">SubscriptionType Adminstration</a></h3>
