@model IEnumerable<AlphaWebApp.Models.Category>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><span class="TitleLine">Category Administration</span></h1><br />

<p>
    <a asp-action="CreateCategory" class="LinkLine" >Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                    <a asp-action="EditCategory" asp-route-id="@item.Id" style="color:black">Edit</a> |
                    <a asp-action="DeleteCategory" asp-route-id="@item.Id" style="color:black">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<h3>
    <br /><a class="LinkLine" asp-area="" asp-controller="Admin" asp-action="Index">Go back to Admin Page</a>
</h3>