@{
    var currentUrl = Url.Action((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Title-->
    <title>@ViewData["Title"] - AlphaWebApp</title>

    <!--CSS-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AlphaWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">

    @*BootsWach style Journal*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/journal/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlphaWebApp.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="row" style="background-color:red">

            <!-------- Date-Time -------->
            <div class="col-lg-2 my-auto mx-auto">
                <div id="date-time"></div>
            </div>

            <!-------- Weather API -------->
            <div class="col-lg-4 my-auto mx-auto justify-content-start p-0">
                <img class="my-auto mx-auto" id="weatherImage" style="width:60px;" />
                <span class="my-auto mx-auto" id="WeatherCount"></span>
                <span class="my-auto mx-auto" id="WeatherCity"></span>
            </div>

            <div class="col-lg-6">
                <nav class="navbar navbar-expand-sm bg-opacity-10 navbar-toggleable-sm navbar-light bg-white box-shadow my-auto">
                    <ul class="navbar-nav flex-grow-1 justify-content-end d-flex">

                        <!-------- Subscription Button -------->
                        <li class="nav-item m-2 text-light my-auto">
                            <partial name="_SubscriptionBtn" />
                        </li>

                        <!-------- _LoginPartial -------->                       
                        <partial name="_LoginPartial" />
                     

                        <!-------- Login Form -------->
                        <li class="nav-item m-3 my-auto">
                            <div class="dropdown user-panel">
                                <a href="javascript:void(0);" class="dropdown-toggle text-white" data-toggle="dropdown"><i class="fa fa-user text-white"></i></a>
                                <div class="dropdown-menu top-user-section">
                                    <div class="top-user-form">
                                        <form id="top-login" role="form" method="post" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@currentUrl">
                                            <div class="input-group" id="top-login-username">
                                                <span class="input-group-addon" style="padding-right: 20px;"><img src="~/img/user-icon.png" /></span>
                                                <input name="Input.Email" type="text" class="form-control" placeholder="Username" required="">
                                            </div>
                                            <div class="input-group" id="top-login-password">
                                                <span class="input-group-addon" style="padding-right: 20px;"><img src="~/img/password-icon.png" /></span>
                                                <input name="Input.Password" type="password" class="form-control" placeholder="Password" required="">
                                            </div>
                                            <div>
                                                <a class="reset-user" asp-area="Identity" asp-page="/Account/Register" style="font-size:16px; color:#fff">Register</a>
                                                <button style="background-color:red" class="btn" type="submit">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- SearchBar Expand -->
                        <li class="searchNlogin">
                            <ul><li class="search-icon my-auto"><i class="fa fa-search"></i></li></ul>
                            <div class="search my-auto">
                                <form role="form" asp-controller="Home" asp-action="Search" asp-route-query="value">
                                    <input class="search-form" type="text" name="query" placeholder="Search...">
                                </form>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <header>
            <div class="row">
                <div class="my-auto mx-auto d-flex justify-content-center p-4">
                    <a asp-controller="Home" asp-action="Index"><img style="height: 100%; width:320px;" src="~/img/logo.png" /></a>
                </div>   
            </div>
        </header>

        <div id="categories-navbar" class="row mb-3">
            <div class="col-lg-8">
                <nav class="navbar navbar-expand-md navbar-toggleable-sm my-auto m-3">
                    <vc:navbar-categories></vc:navbar-categories>
                </nav>
            </div>            
            <div class="col-lg-4">
                <nav class="navbar navbar-expand-md navbar-toggleable-sm my-auto">
                    <partial name="_HelloMsgLogout" />
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            <partial name="_CookieConsentPartial" />
            @RenderBody()
        </main>
    </div>

    <!--footer-->
    <footer class="footer text-center">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">
            <h5 style="color:black">
                AlphaWebApp<sup>&copy;</sup> 2023
            </h5>
        </a>
    </footer>

    <!--#scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--#scripts-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/jquery.easy-ticker.min.js"></script>
    <script src="~/js/jquery.subscribe-better.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/WeatherAPICallFunctions.js"></script>
    <!-------------------------- bubble-shooter game -------------------------->
    <script  src="~/js/bubble-shooter-example.js"></script>
</body>
</html>