@{
    var currentUrl = Url.Action((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Title-->
    <title>@ViewData["Title"] - AlphaWebApp</title>

    <!--CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">

    @*BootsWach style Journal*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/journal/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AlphaWebApp.styles.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- First Header -->
    <div id="main-wrapper" class="homepage-two fixed-nav">
        <div class="topbar">
            <div class="container" style="height:40px;">
                <!-- Date-Time -->
                <div id="date-time"></div>

                <!-- Log-In Form -->
                <div id="topbar-right">
                    @*<div class="searchNlogin">*@
                    <!-------- _LoginPartial -------->
                    <ul class="navbar navbar-expand">
                        <partial name="_LoginPartial" />

                        <!-------- User account/new -------->
                        <li class="dropdown user-panel">
                            <a href="javascript:void(0);" class="dropdown-toggle text-white" data-toggle="dropdown"><i class="fa fa-user text-white"></i></a>
                            <div class="dropdown-menu top-user-section">
                                <div class="top-user-form">
                                    <form id="top-login" role="form" method="post" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@currentUrl">
                                        <div class="input-group" id="top-login-username">
                                            <span class="input-group-addon" style="padding-right: 20px;"><img src="~/img/user-icon.png" /></span>
                                            <input name="Input.Email" type="text" class="form-control" placeholder="Username" required="">
                                        </div>
                                        <div class="input-group" id="top-login-password">
                                            <span class="input-group-addon" style="padding-right: 20px;"><img src="~/img/password-icon.png" /></span>
                                            <input name="Input.Password" type="password" class="form-control" placeholder="Password" required="">
                                        </div>
                                        <div>
                                            <p class="reset-user">Forgot <a href="#">Password/Username?</a></p>
                                            <button class="btn btn-danger" type="submit">Login</button>
                                        </div>
                                    </form>
                                </div>

                                <div class="create-account">
                                    <a asp-area="Identity" asp-page="/Account/Register">Create a New Account</a>
                                </div>

                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>

    <!-- /First Header -->
    <!-- Second Header -->

    <div id="main-wrapper" class="homepage">
        <header id="navigation">
            <div class="navbar" role="banner">

                <!-- Logo Title -->
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" /></a>
                <!-- Weather API -->
                <div id="WeatherContainer" class="float-end" style="display:flex;width:200px;">
                    <div class="float-end" style="width=100px;">
                        <img id="weatherImage" style="height:80px;width:80px;position:absolute;" />
                        <p id="WeatherSummary" class="badge bg-primary text-wrap" style="margin-top:64px;width:70px;"></p>
                    </div>
                    <div class="text-start float-right" style="width:100px;padding-top:26px;">
                        <span id="WeatherCount" class="fs-4 fw-bold"></span>
                        <span id="WeatherCity" class="fs-6 fw-bold" style="padding-left:3px;"></span>
                    </div>
                </div>              
            </div>

            @*<div class="container">
            <partial name="_CookieConsentPartial" />
            </div>*@

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div id="navbar_border" class="container-fluid">


                    <!-------- Home -------->
                    <a class="nav-link text-light" asp-controller="Home" asp-action="Index">
                        <b><img src="~/img/logo_home.png" style="height: 30px;" />Home</b>
                    </a>

                    <!-------- Categories -------->
                    <vc:navbar-categories></vc:navbar-categories>


                    <!-------- Search & Log-in form -------->
                    <div id="main-wrapper" class="homepage">
                        <div class="searchNlogin">
                            <ul>
                                <li>
                                    <form method="post" action="/process-form">
                                        <input type="text" name="query" placeholder="Search...">
                                        <button type="submit" asp-controller="Home" asp-action="Search" asp-route-query="value"> <i class="fa-solid fa-magnifying-glass text-black"></i></button>
                                    </form>
                                </li>


                                <button class="subBtn">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Subscriptions" asp-action="GetSubscriptionTypsList">Subscribe</a>

                                </button>

                                @* <button  type="submit" name="subscribe" id="subscribe">
                                <a class="text-white" asp-area="" asp-controller="Subscriptions" asp-action="GetSubscriptionTypsList">Subscribe</a>
                                </button>*@


                                </li>

                                <li>
                                    <form method="post" action="/process-form">
                                        <input type="text" name="query" placeholder="Search...">
                                        <button type="submit" asp-controller="Home" asp-action="Search" asp-route-query="value"><i class="fa-solid fa-magnifying-glass text-black"></i></button>
                                        @*<a type="submit" asp-controller="Home" asp-action="Search" asp-route-query="value"> <i class="fa-solid fa-magnifying-glass text-white"></i></a>*@
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notifications" />
            <partial name="_CookieConsentPartial" />
            @RenderBody()
        </main>
    </div>

    <!--footer-->
    <footer class="footer text-center">
        <a asp-area="" asp-controller="Home" asp-action="Privacy">
            <h5 style="color:black">
                AlphaWebApp<sup>&copy;</sup> 2023
            </h5>
        </a>
    </footer>

    <!--#scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!--#scripts-->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/jquery.sticky-kit.min.js"></script>
    <script src="~/js/jquery.easy-ticker.min.js"></script>
    <script src="~/js/jquery.subscribe-better.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/WeatherAPICallFunctions.js"></script>

    <!-------------------------- bubble-shooter game -------------------------->
    <script type='text/javascript' src="~/js/bubble-shooter-example.js"></script>

</body>
</html>



