@using Microsoft.AspNetCore.Identity
@using AlphaWebApp.Services
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISubscriptionService subscriptionsService



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Admin"))
        {
            <li style="font-size:18px;" class="my-auto mx-auto">
                <a class="text-white my-auto" asp-area="" asp-controller="Admin" asp-action="Index">| Admin Page</a>
            </li>
        }
        @if (User.IsInRole("Manager"))
        {
            <li style="font-size:18px;" class="my-auto mx-auto">
                <a class="text-white" asp-area="" asp-controller="Manager" asp-action="Index">| Manager Page</a>
            </li>
        }
        @if (User.IsInRole("Editor"))
        {
            <li style="font-size:18px;" class="my-auto mx-auto">
                <a class="nav-link text-white" asp-area="" asp-controller="Articles" asp-action="Index">| Editor Page</a>
            </li>
        }
        @if (subscriptionsService.HasSubscription(User))
        {
            <li style="font-size:18px;" class="my-auto mx-auto">
                <a class="nav-link text-white" asp-area="" asp-controller="User" asp-action="MyPage">| My Page</a>
            </li>
        }
    }
    @*else
    {
        <li class="nav-item">
    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
    }*@
</ul>