@using Microsoft.AspNetCore.Identity
@using AlphaWebApp.Services
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ISubscriptionService subscriptionsService



<ul class="navbar-nav">

    @if (!subscriptionsService.HasSubscription(User))
    {
        <li class="my-auto">
            <button class="subBtn">
                <a class="nav-link text-white" asp-area="" asp-controller="Subscriptions" asp-action="GetSubscriptionTypsList">Subscribe</a>
            </button>
        </li>
    }

</ul>


