@model IEnumerable<AlphaWebApp.Models.Category>

<button style="color:white" class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-light"></span>
</button>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

<ul class="navbar-nav">
    <li class="nav-item m-1 my-auto mx-auto">
        <a class="text-light my-auto" asp-controller="Home" asp-action="Index">
            <b><img src="~/img/logo_home.png" style="height: 30px;" class="my-auto" />Home</b>
        </a>
    </li>

    @foreach (var item in Model)
    {
        <li class="nav-item m-1 mx-auto">
            <a class="nav-link text-light" asp-area="" asp-controller="Articles" asp-route-id="@item.Id" asp-action="News"><i class="@item.icon"></i> @item.name</a>
        </li>
    }
</ul>

</div>