@model IEnumerable<AlphaWebApp.Models.Article>


@{
    ViewData["Title"] = "Home Page";
}



<!-------------------------- Latest News -------------------------->
<div class="container">
    <div id="breaking-news">
        <span>
            Latest News   <i class="fa fa-angle-double-right"></i>
        </span>
        <div id="latest-news">
            @await Component.InvokeAsync("LatestArticles")
        </div>
    </div>
</div>



@*@await Component.InvokeAsync("TodayNews")
@await Component.InvokeAsync("TodayWorldNews")
@await Component.InvokeAsync("Health")
@await Component.InvokeAsync("MostPopular")
@await Component.InvokeAsync("CategoriesNews")
@await Component.InvokeAsync("SwedenNews")
@await Component.InvokeAsync("Sports")
*@


<!-------------------------- Latest News -------------------------->
<div class="container">
    <div id="breaking-news">
        <span>
            Latest News   <i class="fa fa-angle-double-right"></i>
        </span>
        <div id="latest-news">
            @await Component.InvokeAsync("LatestArticles")
        </div>
    </div>
</div>


<!-------------------------- Editor Choice -------------------------->
<div class="col-md-12">
    <h3> <b>| Editor's Choice</b></h3>
    <hr style="width:94%; height:3px;border-width:0;color:white;background-color:red; opacity:1">

    <div id="editor-choice" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("EditorsChoice")
    </div>
</div>

<!-------------------------- Most-Popular -------------------------->
<div class="col-md-12">
    <h3> <b>| Most-Popular</b></h3>
    <hr style="height:3px; border-width:0; color:white; background-color:orangered; opacity:1">


    <div id="most-popular" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("MostPopular")
    </div>
</div>

<!-------------------------- Weather API -------------------------->
<div class="col-md-4">
    <h3> <b>| WeatherForecast</b></h3>
    <hr style="height:3px; border-width:0; color:white; background-color:orangered; opacity:1">

    @await Component.InvokeAsync("WeatherForeCast" , new {
    City = "Linkoping",
    Lang = "en"}
    )
</div>

<!-------------------------- bubble-shooter game -------------------------->

<div class="col-md-6">
    <canvas style="margin-left: 30%;" id="viewport"  width="628" height="628"></canvas>
</div>


<!-------------------------- Stocks Details -------------------------->

<div class="col-md-12">
    <h3> <b>| Stocks Details</b></h3>
    <hr style="height:3px; border-width:0; color:white; background-color:blue; opacity:1">

    <div class="col-md-6">
        <div class="text-dark" style="background-color:cadetblue"><h3><b>UK Stock Details</b></h3></div>
        @await Component.InvokeAsync("Stock" , new {region = "uk"})
    </div>

    @*<div class="col-md-6">
    <div class="text-dark" style="background-color:coral"><h3><b>US Stock Details</b></h3></div>
    @await Component.InvokeAsync("Stock" , new {region = "us"})

    </div>*@
</div>
    </div>
</div>

<!-------------------------- Local News -------------------------->
<div class="col-md-12">
    <h3> <b>| Local</b></h3>
    <hr style="height:3px;border-width:0;color:white;background-color:#FCD500; opacity:1">

    <div id="local-news" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("Local")
    </div>
</div>

<!-------------------------- Sweden News -------------------------->
<div class="col-md-12">
    <h3> <b>| Sweden</b></h3>
    <hr style="height:3px;border-width:0;color:white;background-color:#FA9200; opacity:1">

    <div id="sweden-news" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("Sweden")
    </div>
</div>

<!-------------------------- World News -------------------------->
<div class="col-md-12">
    <h3> <b>| World</b></h3>
    <hr style="height:3px;border-width:0;color:white;background-color:#DE4439; opacity:1">

    <div id="world-news" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("World")
    </div>
</div>

<!-------------------------- Sports -------------------------->
<div class="col-md-12">
    <h3> <b>| Sport</b></h3>
    <hr style="width:94%; height:3px; border-width:0; color:white; background-color:#ffff00; opacity:1">


    <div id="sports" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("Sport")

    </div>
</div>

<!-------------------------- Economy News -------------------------->
<div class="col-md-12">
    <h3> <b>| Economy</b></h3>
    <hr style="height:3px;border-width:0;color:white;background-color:#0b5394; opacity:1">

    <div id="economy-news" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("Economy")
    </div>
</div>

<!-------------------------- Health News -------------------------->
<div class="col-md-12">
    <h3> <b>| Health</b></h3>
    <hr style="height:3px;border-width:0;color:white;background-color:#58cf23; opacity:1">

    <div id="health-news" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("Health")
    </div>
</div>

<!-------------------------- Technology News -------------------------->
<div class="col-md-12">
    <h3> <b>| Technology</b></h3>
    <hr style="height:3px;border-width:0;color:white;background-color:#3d85c6; opacity:1">

    <div id="technology-news" class="owl-carousel owl-theme">
        @await Component.InvokeAsync("Technology")
    </div>
</div>


