@model IEnumerable<AlphaWebApp.Models.Article>


@{
    ViewData["Title"] = "Home Page";
}

@*Latest News*@
<div class="container">
    <div id="breaking-news">
        <span>
            Latest News   <i class="fa fa-angle-double-right"></i>
        </span>

        <div id="latest-news">
            @await Component.InvokeAsync("LatestArticles")
        </div>
    </div>
</div>


<div class="row" style="margin-top:5%;">

    @*  <div class="col-md-3 ">
    <h2>Latest New</h2>

    @await Component.InvokeAsync("LatestArticles")


    </div>*@
    <div class="col-md-6 ">
        <h2>Today News</h2>


        @await Component.InvokeAsync("TodayNews")

    </div>
    <div class="col-md-3 ">
        <h2>WeatherForecast</h2>
        
        @*<vc:weather-fore-Cast
            city="Linkoping"
            lang="en">
        </vc:weather-fore-Cast>*@
         @await Component.InvokeAsync("WeatherForeCast" , new { 
             City = "Linkoping", 
             Lang = "en"}
             )
     @*   <a class="weathertext" asp-area="weather" asp-controller="WeatherForecast" asp-route-id="" asp-action="WeatherForecast">WeatherForecast</a>*@
       


    </div>

    <div class="col-md-3 ">
        <h2>Most Popular News</h2>



        @await Component.InvokeAsync("MostPopular")


    </div>



</div>











