@model IEnumerable<AlphaWebApp.Models.Article>


@{
    ViewData["Title"] = "Home Page";
}

@*Latest News*@



<div class="container-fluid">
    <div id="breaking-news">
        <span>
            Latest News   <i class="fa fa-angle-double-right"></i>
        </span>

        <div id="latest-news">
            @await Component.InvokeAsync("LatestArticles")
        </div>
    </div>
</div>







<div class="row" style="margin-top:5%; float:left">

      
    <div class="col-md-8 ">
        <h2>Today News</h2>


        @await Component.InvokeAsync("TodayNews")
        <br />
        @await Component.InvokeAsync("TodayWorldNews")
        @await Component.InvokeAsync("Sports")

    </div>
    






    <div class="col-md-3 ">
        <h2>WeatherForecast</h2>

        
         @await Component.InvokeAsync("WeatherForeCast" , new { 
             City = "Linkoping", 
             Lang = "en"}
             )
     
       


   

    
        <h2>Most Popular News</h2>



        @await Component.InvokeAsync("MostPopular")


    </div>

</div>














