@model IEnumerable<AlphaWebApp.Models.Article>


@{
    
    ViewData["Title"] = "Home Page";
    
}

@*Latest News*@



<div class="container-fluid">
    <div id="breaking-news">
        <span>
            Latest News   <i class="fa fa-angle-double-right"></i>
        </span>

        <div id="latest-news">
            @await Component.InvokeAsync("LatestArticles")
        </div>
    </div>
</div>







<div class="row" style="margin-top:5%;margin-left:2%; margin-right:2%; float:left">

      
    <div class="col-md-8 ">
        <h2>Today News</h2>


        @await Component.InvokeAsync("TodayNews")
        <br />
        @await Component.InvokeAsync("TodayWorldNews")
        <br />
        @await Component.InvokeAsync("Sports")

    </div>
    






    <div class="col-md-3 ">
        <h2>WeatherForecast</h2>

        
         @await Component.InvokeAsync("WeatherForeCast" , new { 
             City = "Linkoping", 
             Lang = "en"}
             )
     
       

             <br />
   

    
        <h2>Most read</h2>



        @await Component.InvokeAsync("MostPopular")
        <br />
        @await Component.InvokeAsync("Health")


    </div>

</div>
<div class="container-fluid" >
    <div class="swe" style="margin-left:2%; margin-right:2%;">
        <h1>Full story</h1>
    @await Component.InvokeAsync("SwedenNews")
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="new" style="margin-left:2%; margin-right:2%;">
        <h1>Sports News</h1>
    <br />

    @await Component.InvokeAsync("SportHeadLine")
    </div>
</div>
<div class="container-fluid">
    <div class="new" style="margin-left:2%; margin-right:2%;">
    <h1> Must See</h1>
    <br />
    @await Component.InvokeAsync("CategoriesNews")
    </div>

</div>














