@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1><b>1. Agreement</b></h1>
<p>By accessing our website, you you accept our Privacy Policy and agree to its Terms of Use.</p>
<h1><b>2. Information collected</b></h1>
<h4><b>Information collected automatically</b></h4>
<p>By visiting our Website, our servers automatically collect information provided by your browser. This data may include information such as IP address, browser type and version, language preferences, referring/exit pages and URLs, the time and date of access and other non-personal information.</p>
<h4><b>Information you provide us by registering for an account</b></h4>
 To become a subscriber to the Service you will need to create a personal profile by registering with the Service. To register you will need to enter your email address and create a user name and a password. By registering, you are authorizing us to collect, store and use your email address in accordance with this Privacy Policy.
<h1><b>3. Use and sharing of information </b></h1>
<p>
    We do not sell, trade, rent or otherwise share for marketing purposes your Personal Information with third parties without your consent, except as otherwise stated in this Privacy Policy. We do share Personal Information with vendors who are performing services for the Company.

    We may share Personal Information with outside parties if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to meet any applicable legal process or enforceable governmental request.
</p>
<h1><b>4. Protection measures</b></h1>
<p>
    We implement security measures designed to protect your information from unauthorized access. Your account is protected by your account password. We further protect your information from potential security breaches by implementing certain technological security measures. However, these measures do not guarantee that your information will not be accessed, disclosed, altered or destroyed by breach of such firewalls and secure server software. By using our Service, you acknowledge that you understand and agree to assume these risks.
</p>
<h4><b> User rights regarding the use of personal information </b></h4>
<p>
    You have the right at any time to prevent us from contacting you for marketing purposes.  When we send a promotional communication to a user, the user can opt out of further promotional communications by following the unsubscribe instructions provided in each promotional email.
</p>

    <h1><b>
        5. Cookies
    </b>
</h1>
    <p>
    Notice Website and Services may use third-party analytics tools that uses ‘cookies'. The information is used to improve the users' experience and monitor the Website and Services performance.
    </p>