@model IEnumerable<AlphaWebApp.Models.SubscriptionType>

@{
    ViewData["Title"] = "GetSubscriptionTypsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1 class="text-center">Please Choose your subscription</h1>

    <div class="container">

        @foreach (var item in Model)
        {
            <div class="card col-sm-3" style="width: 25rem; margin:25px;">

                <img src="~/img/subscriptioncard.jpg" style="margin-top:15px; margin-bottom:15px" class=" card-img-top rounded-5" alt="...">
                
                <h1 class="mx-auto"><b>@item.TypeName</b></h1>
                <p class="text-left"><b><span style="color:green; font-size:24px"> ✔</span> @item.Description</b></p>

                <p class="text-left"><b> <span style="color:green; font-size:24px"> ✔</span> Get weekly news letter Email with<br />&nbsp; &nbsp; &nbsp; Categories of your choice</b></p>
                <p class="text-left"><b><span style="color:green; font-size:24px"> ✔</span> Search Archived Articles</b></p>

                <h1 class="mx-auto list-group list-group-flush"><b>@item.Price SEK</b></h1>



                <a class="btn text-light p-3 m-3" style=" background-color:#5bace3; font-size:24px" asp-action="MakePayment" asp-route-id="@item.Id"><b>Buy</b></a>
               
            </div>
        }
    </div>
</div>



