@*@model AlphaWebApp.Models.Subscription

@{
    ViewData["Title"] = "Payment";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btnpayment {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btnpayment:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
</style>
<div class="row">
    <div class="col-50">
            <form action="">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="September">
                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                <input type="submit" value="Make Payment" class="btnpayment" asp-controller="Subscriptions" asp-action="Create" asp-route-id="@Model.SubscriptionTypeId">
            </form>
    </div>
</div>
<div><strong><a asp-controller="Subscriptions" asp-action="Create" asp-route-id="@Model.SubscriptionTypeId">Make Payment</a></strong></div>*@

@*<style>
    .form-outline{
         border: 2px solid;
    border-radius: 5px;
    }
</style>*@

<div class="tophead col-1" style="background-color:#ffc0cb">
    Klarna

</div>



<div class="rows col-lg-8" >
    <div class="box-inner-2">
        <div>
            <h3 class="fw-bold">Please enter your address</h3>
            <p class="fw-bold"> We need your  address to complete the purchase.</p>
            
        </div>
        <form action="" >
            <div class="form-outline">
                <label class="form-label" for="form1">Country</label>
                <input type="text" id="form1" class="form-control form-icon-trailing" />
                
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <p class="dis fw-bold mb-2">Email address</p>
                        <input class="form-control" type="email" value="">

                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <p class="dis fw-bold mb-2">Postal code</p>
                        <input class="form-control" type="number" value="">
                        <label class="form-label" for="form9Example4"></label>


                    </div>
                </div>
            </div>
            
            <div class="form-outline">
                <label class="form-label" for="form1">National ID number(YYMMDDXXX) </label>
                <input type="number" id="form1" class="form-control form-icon-trailing" />

            </div>
          
           
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example1m">First name</label>
                        <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                        
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example1n">Last name</label>
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                        
                    </div>
                </div>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example8">Address</label>
                <input type="text" id="form3Example8" class="form-control form-control-lg" />

            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="form9Example3">City</label>
                        <input type="text" id="form9Example3" class="form-control input-custom" />
                       

                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label class="form-label" for="form11Example6">Phone</label>
                        <input type="number" id="form11Example6" class="form-control" />
                        

                    </div>
                </div>
            </div>
            <input type="submit" value="Make Payment" class="btnpayment" asp-controller="Subscriptions" asp-action="Create" asp-route-id="@Model.SubscriptionTypeId">
            
        </form>
    </div>
   
</div>