@model AlphaWebApp.Models.ViewModels.AddArticleVM

@{
    ViewData["Title"] = "Create";
}


<div class="container">
<h1>Create New Article</h1>
    <hr style="border: 5px solid #003366;" />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="DateStamp" class="control-label"></label>
                <input asp-for="DateStamp" class="form-control" />
                <span asp-validation-for="DateStamp" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="LinkText" class="control-label">Link Text</label>
                <input asp-for="LinkText" class="form-control" placeholder="Link Text" />
                <span asp-validation-for="LinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadLine" class="control-label">HeadLine</label>
                <input asp-for="HeadLine" class="form-control" placeholder="HeadLine"/>
                <span asp-validation-for="HeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentSummary" class="control-label">Content Summary</label>
                <textarea asp-for="ContentSummary" class="form-control" rows="5" placeholder="Content Summary"></textarea>
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Content</label>
                <textarea asp-for="Content" class="form-control" rows="5" placeholder="Article content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category Name</label>
                <select class="form-control" style="width:auto; height:180px;" size="5" asp-for="CategoryId" asp-items="Model.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>    
            
            <div class="row">
                            <label asp-for="FileName" class="control-label"></label>
                    <div class="col-md-8">                       
                            <input asp-for="FileName" class="form-control" placeholder="Select Image" />
                            <span asp-validation-for="FileName" class="text-danger"></span>                       
                    </div>
                    <div class="col-md-3">
                        <input type="button" value="Choose file" class="btn btn-secondary" onclick="typevaluefunc()" />
                    </div>
                    <input asp-for="File" hidden class="form-control" onchange="givevaluetofilename()" />
            </div>

        @*    <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" class="form-control" placeholder="Select Image"/>
                <span asp-validation-for="FileName" class="text-danger"></span>
                <input type="button" value="Choose file" class="btn btn-success" onclick="typevaluefunc()" />
            </div>
            <div class="form-group">
                <input asp-for="File" hidden class="form-control" onchange="givevaluetofilename()" />
            </div>*@
           
            <div class="form-group-buttons">
                    <input type="submit" value="Create" class="btn" style="color:#fff; background-color:#003366" /> |
                    <a asp-action="Index" class="btn" style="color:#fff; background-color:#003366">Back to List</a>
            </div>
        </form>
    </div>
</div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
     function givevaluetofilename()
    {
        var fileName = document.getElementById("File").value;        
        document.getElementById("FileName").value = fileName.substring(12);
    }
    // To click on the hidden button because I cannot reach it
    function typevaluefunc()
    {
        document.getElementById("File").click();
    }
</script>
