

@{
    ViewData["Title"] = "Editor Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><span class="TitleLine">Editor page</span></h1>

<h3>
    <br /><a class="LinkLine" asp-area="" asp-controller="Articles" asp-action="EditorPageIndex">Alpha News Articles</a><br />

    <br /><a class="LinkLine" asp-area="" asp-controller="NewsApi" asp-action="SwedishNews">Latest Articles From Other resources In Swedish</a><br />


    <br /><a class="LinkLine" asp-area="" asp-controller="NewsApi" asp-action="EnglishNews">Latest Articles From Other resources In English </a><br />

    <br /><a class="LinkLine" asp-area="" asp-controller="NewsApi" asp-action="EnglishNews">Latest Articles From Other resources In English </a><br />

    <br /><a class="LinkLine" asp-area="" asp-controller="Articles" asp-action="ArchiveArticles">Archived Articles </a><br />

</h3>


