
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editor page</h1>

<h3><a class="nav-link   text-dark" asp-area="" asp-controller="Articles" asp-action="EditorPageIndex">Alpha News Articles</a></h3>

<h3><a class="nav-link   text-dark" asp-area="" asp-controller="NewsApi" asp-action="SwedishNews">Latest Articles From Other resources In Swedish</a></h3>

<h3><a class="nav-link   text-dark" asp-area="" asp-controller="NewsApi" asp-action="EnglishNews">Latest Articles From Other resources In English </a></h3>

