@model AlphaWebApp.Models.ViewModels.CreateRoleVM

<h3>Please enter email address correspond to role you want to assign:</h3>
<form action="addRoleToUser" method="post">
  <label for="email">Enter your email:</label>
  <input type="email" id="email" name="email">
  <label for="id" hidden></label>
  <input type="text" id="text" name="id" value="@Model.RoleId" hidden>
  <input type="submit">
</form>
