@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

    <style>
    #Title {
        border-bottom: 5px groove dodgerblue;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    </style>

@{
    ViewData["Title"] = "IndexRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><span id="Title">Index Roles</span></h1>

<p>
    <a class ="nav-link   text-dark" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="nav-link   text-dark" asp-action="DeleteRole" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    <a class="nav-link   text-dark" id="setEmail" asp-action="AddEmailToRole" asp-route-id="@item.Id">Assigne To User</a>
                </td>
            </tr>
        }
    </tbody>
</table>


