
<style>
    .mypageConfirm {
        text-align: center;
        border-radius: 10px;
    }

    .mypageConfirmBody {
        border: 5px double dodgerblue;
        border-radius: 25px;
        padding: 5px;
        color: black;
    }
</style>

<h1>Congratulations!</h1><br />

<h2>You have successfully subscribed to our newsletter.</h2><br />

<h3>
    <b class="mypageConfirm"><a class="mypageConfirmBody" asp-area="" asp-controller="User" asp-action="MyPage">Go back to My Page</a></b>
</h3>