

<h1>Congratulations!</h1><br />

<h2>You have successfully subscribed to our newsletter.</h2><br />

<h3><a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="MyPage"><b>Go back to My Page!</b></a></h3>