@model AlphaWebApp.Models.ViewModels.ContactUsVM

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .big-font {
        font-size: 500%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="big-font" style="justify-content:center">
               <br />
                Contact us<br>
                for any<br>
                questions !</h1>
        </div>
        <div class="col-6" style="background-color:lightgray">
            <form asp-action="ContactUs">
                <div class="form-group">
                    <label Asp-for="Name">Name:</label>
                    <input Asp-for="Name" type="text" class="form-control" id="name" name="Name">
                </div>
                <div class="form-group">
                    <label Asp-for="Email">Email:</label>
                    <input Asp-for="Email" type="Email" class="form-control" id="email" name="Email">
                </div>
                <div class="form-group">
                    <label Asp-for="Message">Message:</label>
                    <textarea Asp-for="Message"  class="form-control" rows="5" id="message" name="Message"></textarea>
                    <br />
                    <input type="submit" class="btn" style="background-color:blue;color:white;" value="Submit" />
                </div>
            </form>
        </div>
        <div>
            <a style="color:black; text-decoration: underline;" asp-controller="Home" asp-action="Index">Back to Home</a>
        </div>

    </div>
</div>


