
<style>
    .mypage {
        text-align: center;
        border-radius: 10px;
    }
    .mypageBody {
        border: 5px double dodgerblue;
        border-radius: 25px;
        padding: 5px;
        color: black;
    }
</style>

<h1>My Page</h1>



<h3>
    <br /><b class="mypage"><a class="mypageBody" asp-area="" asp-controller="User" asp-action="SubscriptionHistory">View your history of subscriptions</a></b><br /><br />

    <br /><b class="mypage"><a class="mypageBody" asp-area="" asp-controller="User" asp-action="GetUserCategoriesSelection">Create your own personal newsletter</a></b><br /><br />

    <br /><b class="mypage"><a class="mypageBody" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage your acount</a></b><br />

    @*<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ChangePassword">Change your password!</a>*@
</h3>