

<h1>My Page</h1>



<h3>
<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="SubscriptionHistory">View your history of subscriptions!</a>

<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="PersonalizedNewsLetter">Create your own personal newsletter!</a>

<a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ChangePassword">Change your password!</a>
</h3>