

@{
    ViewData["Title"] = "My Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><span class="TitleLine">You have successfully unsubscribed to our newsletter</span></h1>

<h3>
    <br /><a class="LinkLine" asp-area="" asp-controller="User" asp-action="MyPage">Go back to My Page</a>
</h3>