@model IEnumerable<AlphaWebApp.Models.Category>

<h1>Personalized Newsletter</h1>


<form>
    @foreach (var item in Model)
    {
            <input type="checkbox" id="" name="" value=""/>
            <label for=""></label><br />
    }
</form>